#bible { background: #fdfdfd; text-align: justify; }
#bible * td { padding: 10px;}
#bible * tr:nth-child(odd) {
  background-color: #dedede;

}

.bible-fullname { font-size: 75%;}
.j { color: #ff0000;}
@media screen and (device-aspect-ratio: 2/3) {
	#verserefbarCont { width: 90px;}
}
sup { font-size: 80%;}
transChange { font-style: italic; }